.section-nopadding{
    padding-top: 94px;
}

.features{
    text-decoration: none;
    @extend %flex-wrapp;
    &__item:not(:last-child) {
      margin-right: var(--primary-margine-right);
    }
    &__title {
      margin-bottom: 10px;
      display: block;
      font-size: 14px;
      line-height: 1.14;
      text-align: left;
    }    
    
    &__text {
    color: var(--text-tell-color);
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    vertical-align: top;
    width: 270px;
  
  }
  }
  

  .features-box{
    @extend %flex-align;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--bakground-secondary-color);
   
    margin-bottom: 30px ;
    border-radius: 4px;
    
  }
 